* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(219, 129, 129, 0.07);
}
/* .menu {
  height: 20vh;
  width: 100vw;
}
ul {
  text-decoration: none;
  list-style-type: none;
}
li {
  float: right;
}
ul li a {
  text-decoration: none;
  display: block;
  color: beige;
  text-align: center;
  padding: 3em;
} */
.menu {
  width: 100%;
  background-color: #0c0c0c;
  overflow: auto;
  top: 0;
}

/* Navbar links */
.menu a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
#content {
  color: rgb(7, 7, 83);
  font-style: italic;
  text-align: center;
  height: 100px;
  width: 100%;
  display: block;
}
#content :hover {
  transform: scale(0.5);
  color: rgb(121, 19, 19);
  background-color: salmon;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0c0c0c;
  text-align: center;
  color: white;
}

.tag {
  text-align: center;
  color: blueviolet;
  background-color: black;
  font-weight: bolder;
  font-size: 2rem;
  font-style: oblique;
  display: block;
}
.list {
  text-align: center;
  color: rgb(8, 53, 10);

  font-weight: bolder;
  font-size: 1rem;
  font-style: oblique;
}
.items li {
  text-align: center;
  color: rgb(14, 37, 29);
  font-size: larger;
  padding: 10px;
}

.order {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  background-color: burlywood;
}

.order:hover {
  background-color: brown;
}

form {
  text-align: center;
  color: #ad2121;
  font-weight: bold;
}
